
# generic
node_modules/
.node_modules/
build.json
*.config
coverage/
internal/
.settings
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
package-lock.json
.eslintcache
/lib/
